*. *::before, *::after {
    box-sizing: border-box;
}

/* customization */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Montserrat', sans-serif;
    /* --ff-primary: 'Montserrat', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif;  */

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #FFFFFF;
    --clr-dark: #222831;
    --clr-accent: #ffd369;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em white;
}

/* with larger screen size, make font size bigger */
@media (min-width: 800px) {
    :root {
        --fs-h1:4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* general styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
    max-width: 100%;
}

section {
    padding: 5em 2em;
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}



/* typography */

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

/* compound selector */
.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro, .section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em 1em;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: var(--clr-dark);
}

.logo {
    max-width: 50px;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    
    /* 100% hides it off the screen */
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;

}

.nav__link {
    color: inherit;
    text-decoration: none;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}

.nav__link:hover {
    color: var(--clr-accent)
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav {
    /* nav to slide open and closed */
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    /* gets the 'x' when the nav hamburger opens */
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    /* gets the 'x' when the nav hamburger opens */
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    /* gets the 'x' when the nav hamburger opens */
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before, 
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
}

.hamburger::before, 
.hamburger::after {
    content: ''; /*psuedo elements won't work unless you give them some content*/
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 250ms ease-in-out;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}

/* intro section */
.intro {
    position: relative;
}

.intro__img {
    /* height: auto; */
    width: min-content;
    /* border: 1px solid; */
    /* padding: 10px; */
    box-shadow: 0px 8px 30px grey;
   
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content; 
        margin: 0 auto; /*keeps it centered*/
        grid-column-gap: 1em; /*space img intro from text*/
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: 
            min-content max-content;
    }

    .intro__img {
        grid-area: img;
        min-width: 250px; /*so img doesn't disappear*/
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: flex-start;
        grid-column: -1 / 1; /*will be the whole length of my name*/
        grid-row: 2;
        text-align: end;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em); /*lines it up perf*/
    }
}


/* about me section */

.about-me {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    max-width: 1000px;
    margin: 0 auto;
}

.section__title--about::after {
    /* psuedo element | makes the line underneath  */
    /* content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-accent);
    opacity: 0.5; */
}

.about-me__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        color: var(--clr-dark);
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: 100%;
        padding-left: 2em;
        padding-right: 2em;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* projects */
.my-projects {
    text-align: center;
}

.section__subtitle--projects {
    font-weight: var(--fw-bold);
    color: var(--clr-accent);
    margin-bottom: 2em;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1000px;
    margin: 0 auto;
    grid-gap: 1em;
}

.portfolio__item {
    background: var(--clr-light);
    overflow: hidden;
}

.portfolio__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__img:hover {
    transform: scale(1.2);
    opacity: .85;
}


/* footer */

.footer {
    background: var(--clr-dark);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: var(--fw-bold);
}

.footer__link:hover, .social-list__link:hover {
    opacity: .7;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


/* portfolio-item-individual */
.portfolio-item-individual {
    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio-item-individual p, h3 {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

